
class $JavaFileDescriptor.ClassName {
    public static $JavaFileDescriptor.ClassName newInstance() {
        return new ${JavaFileDescriptor.ClassName}();
    }
    public void greet(String name) {
        System.out.println("Hello, " + name + "!");
    }
    public static void main(String[] args) {
        $JavaFileDescriptor.ClassName hello = ${JavaFileDescriptor.ClassName}.newInstance();
        hello.greet("$JavaFileDescriptor.User");
    }
}
