
class $JavaFile.Class {
    public static $JavaFile.Class newInstance() {
        return new $JavaFile.Class();
    }
    public void greet(String name) {
        System.out.println("Hello, " + name + "!");
    }
    public static void main(String[] args) {
        $JavaFile.Class hello = ${JavaFile.Class}.newInstance();
        hello.greet("$JavaFile.User");
    }
}